<a href="https://colab.research.google.com/github/sng-11/final_project/blob/melissa_database/Machine_Learning_Model_for_Group_1v120211113.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Import Depedencies
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder 
from sqlalchemy import create_engine

In [3]:
engine=create_engine("postgresql://postgres:<password>@finalproject-1.cyuuo7igvqta.us-east-2.rds.amazonaws.com/finalproject1")

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [4]:
query="""
SELECT final_demographics.user_id,
final_demographics.gender,
final_demographics.income_level,
final_demographics.age,
plays_sum.minutes_viewed,
plays_sum.ml_output
FROM final_demographics
INNER JOIN plays_sum
ON final_demographics.user_id = plays_sum.user_id;
"""
df=pd.read_sql(query,engine)
df

            user_id  gender income_level      age  minutes_viewed ml_output
0                35    Male          Low  18 - 24              11      None
1                67  Female         High  18 - 24            1446      None
2                73  Female       Medium  25 - 34             113      None
3                74    Male          Low  35 - 44               1      None
4                75    Male          Low  25 - 34               0      None
...             ...     ...          ...      ...             ...       ...
9054  1709396984225  Female          Low     < 18              67      None
9055  1709396984279  Female       Medium     < 18              89      None
9056  1709396984313    Male       Medium  18 - 24             157      None
9057  1709396984318  Female       Medium  18 - 24               9      None
9058  1709396984322    Male          Low  35 - 44             189      None

[9059 rows x 6 columns]

In [ ]:
#Import Data

In [ ]:
#ML model

In [ ]:
#Output

In [ ]:
#Evaluate Model to find P values